#after-header-widgets {

  // Line menu
  .menu-line-menu-container {

    background-color: #e1f7fc;

    .menu {
      list-style: none;
      margin: 0 auto;
      padding: 0;
      max-width: 1080px;

      @include grid-media($grid-md) {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
      }
    }

    .menu-item {
      flex: 0 1 auto;
      line-height: 1;

      > a {
        position: relative;
        z-index: 2;
        display: block;
        background-color: #e1f7fc;
        color: #333;
        text-decoration: none;
        padding: 15px 20px;

        &:hover, &:active, &:focus {
          background-color: #fff;
          color: #ff4081;
        }
      }
    }

    .menu-item-has-children {
      position: relative;

      > a {
        &::after {
          @extend %fa;
          @include aicon-rot(8px);
          content: $fa-var-play;
          transform: rotateZ(90deg);
          margin-left: 0.5em;
          vertical-align: middle;
        }

        &:hover, &:active, &:focus {
          &::after {
            transform: rotateZ(270deg);
          }
        }
      }

      &:hover, &:active, &:focus {
        .sub-menu {
          display: block;
        }
      }
    }

    .sub-menu {
      position: absolute;
      top: 100%;
      left: 0;
      z-index: 1;
      list-style: none;
      margin: 0;
      display: none;
      padding: 0;
      box-shadow: 0 0 5px 0 rgba(0, 0, 0, .4);
      border-radius: 0 0 5px 5px;
      overflow: hidden;

      > .menu-item {
        line-height: 1.2;

        &:not(:first-child) {
          border-top: 1px solid #fff;
        }

        &:not(:last-child) {
          border-bottom: 1px solid #90ced9;
        }
      }
    }
  }

  // Circle-menu
  .menu-circle-menu-container {
    @extend .grid-container;
    $pad: 60px;
    $height: 200px;
    ul {
      padding: $pad 0;
      margin: 0;
      @extend %clearfix;
      border-bottom: 1px solid #EEE;
      li {
        list-style: none;
        float: left;
        width: 33%;
        -webkit-perspective: 1000;
        perspective: 1000;
        a {
          width: $height;
          padding-top: $height + 20;
          margin: 0 auto;
          position: relative;
          display: block;
          text-align: center;
          -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
          &:before, &:after {
            transition: .6s;
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 200px;
            background-position: left top;
            background-repeat: no-repeat;
            background-size: cover;
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
            border-radius: 50%;
          }
          &:hover {
            &:before{
              transform: rotate(360deg);
            }
            &:after {
              transform: rotateY(180deg);
            }
          }
          &:before {
            transform: rotateY(180deg);
          }
          &:after {
          }
          &:link, &:visited {
            text-decoration: none;
            color: $wct-footer-bg;
          }
          &:hover, &:active {
            text-decoration: none;
            color: $wct-footer-bg-hover;
          }
        }
      }
      ul {
        display: none;
      }
    }

    // Set background image
    @each $class in ( ticket, ticket-no, thumb, access ) {
      .#{$class} a:before{
        background-image: url("#{$img-path}menu-icon/#{$class}-on.png");
      }
      .#{$class} a:after{
        background-image: url("#{$img-path}menu-icon/#{$class}.png");
      }
    }

  }

}
