
.site-footer{
  background: $wct-footer-bg;
  color: #fff;
}

#footer-widgets{
  @extend .grid-container;
}

.site-info{
  @extend .grid-container;
  text-align: center;
  font-size: 12px;
  padding-top: 25px;
  padding-bottom: 25px;
  a{
    text-decoration: none;
    &:link, &:visited{
      color: $link-color;
    }
    &:hover, &:active{
      color: $link-hover-color;
    }
  }
  .site-info-network {
    display: none;
  }
}
