body {
  background-repeat: no-repeat;

  @include grid-media($grid-lg) {
    background-repeat: no-repeat, repeat-x;
  }

  /**
   * Home
   */
  &.home {
    background-image: url(#{$img-path}header-top-s.jpg);
    background-position: 50% 0;
    background-size: 1358px;

    @include grid-media($grid-xs) {
      background-image: url(#{$img-path}header-top.jpg);
      background-position: 50% -8px;
      background-size: 1866px;
    }

    @include grid-media($grid-sm-s) {
      background-position: 50% -18px;
      background-size: 2375px;
    }

    @include grid-media($grid-sm) {
      background-position: 50% -24px;
      background-size: 2715px;
    }

    @include grid-media($grid-md) {
      background-position: 50% -42px;
      background-size: 3258px;
    }

    @include grid-media($grid-lg) {
      background-image: url(#{$img-path}header-top.jpg),
                        url(#{$img-path}header-top-bg.jpg);
      background-position: 50% -75px, 0 -25px;
      background-size: 3902px 920px, 10px 920px;
    }
  }

  /**
   * Single page, Page
   */
  &.single, &.page {
    background-image: url(#{$img-path}header-sub-s.jpg);
    background-position: calc(50% + 100px) 0;
    background-size: 810px;

    @include grid-media($grid-xs) {
      background-image: url(#{$img-path}header-sub.jpg);
      background-position: calc(50% + 110px) -5px;
      background-size: 963px;
    }

    @include grid-media($grid-sm-s) {
      background-position: calc(50% + 130px) -30px;
      background-size: 1468px;
    }

    @include grid-media($grid-sm) {
      background-position: calc(50% + 160px) -55px;
      background-size: 1878px;
    }

    @include grid-media($grid-md) {
      background-position: calc(50% + 190px) -90px;
      background-size: 2255px;
    }

	@include grid-media($grid-lg-s) {
      background-image: url(#{$img-path}header-sub.jpg),
                        url(#{$img-path}header-sub-bg.jpg);
      background-position: calc(50% + 220px) -95px, 0 -95px;
      background-size: 2300px, 5px;
    }

    @include grid-media($grid-lg) {
      background-image: url(#{$img-path}header-sub.jpg),
                        url(#{$img-path}header-sub-bg.jpg);
      background-position: calc(50% + 240px) -95px, 0 -95px;
      background-size: 2300px, 5px;
    }
  }
}

.site-header {
  @extend .grid-container;
  padding: 0;
  position: relative;
  width: 100%;

  /**
   * Home
   */
  .home & {
    height: 235px;

    @include grid-media($grid-xs) {
      height: 300px;
    }

    @include grid-media($grid-sm-s) {
      height: 390px;
    }

    @include grid-media($grid-sm) {
      height: 445px;
    }

    @include grid-media($grid-md) {
      height: 520px;
    }

    @include grid-media($grid-lg) {
      height: 595px;
    }

    // 衛星
    &::before {
      $satellite-width-pc: 82px;
      $satellite-height-pc: 104px;
      position: absolute;
      animation: satellite 60s linear 2s infinite;
      content: '';
      display: block;
      background-image: url(#{$img-path}satellite.svg);
      background-repeat: no-repeat;
      background-size: contain;
      width: ($satellite-width-pc / 3.4);
      height: ($satellite-height-pc / 3.4);
      left: ($satellite-width-pc * -1);
      top: ($satellite-height-pc * -2);

      @keyframes  satellite {
        0% {
          top: 20vw;
          left: ($satellite-width-pc * -1);
        }
        50%,
        100% {
          top: ($satellite-height-pc * -2);
          left: 38%;
        }
      }

      @include grid-media($grid-sm-s) {
        width: ($satellite-width-pc / 2.8);
        height: ($satellite-height-pc / 2.8);
      }

      @include grid-media($grid-sm) {
        width: ($satellite-width-pc / 2.3);
        height: ($satellite-height-pc / 2.3);
      }

      @include grid-media($grid-md) {
        width: ($satellite-width-pc / 1.9);
        height: ($satellite-height-pc / 1.9);
      }

      @include grid-media($grid-lg) {
        width: ($satellite-width-pc / 1.4);
        height: ($satellite-height-pc / 1.4);
      }
    }
  }

  /**
   * Single page, Page
   */
  .single &, .page & {
    height: 145px;

    @include grid-media($grid-xs) {
      height: 175px;
    }

    @include grid-media($grid-sm-s) {
      height: 270px;
    }

    @include grid-media($grid-sm) {
      height: 320px;
    }

    @include grid-media($grid-md) {
      height: 375px;
    }

    @include grid-media($grid-lg) {
      height: 380px;
    }
  }
}

.site-description {
  display: none;
}

.site-title {
  background-repeat: no-repeat;
  display: block;
  position: absolute;
  margin: 0 auto;
  width: 100%;

  a {
    color: transparent;
    display: block;
    font: 0/0 a;
    height: 100%;
    width: 100%;
  }

  /**
   * Home
   */
  .home & {
    background-image: url(#{$img-path}wct2017-logo.svg),
                      url(#{$img-path}wct2017-theme.svg),
                      url(#{$img-path}wct2017-sub-theme.svg),
                      url(#{$img-path}wct2017-date.svg);
    background-position: 50% 23px, 50% 105px, 50% 128px, 50% 165px;
    background-size: 258px, 56px, 188px, 235px;
    height: 220px;
    top: 0;

    @include grid-media($grid-xs) {
      background-position: 50% 40px, 50% 140px, 50% 165px, 50% 225px;
      background-size: 335px, 56px, 185px, 255px;
      height: 295px;
    }

    @include grid-media($grid-sm-s) {
      background-position: 50% 55px, 50% 185px, 50% 218px, 50% 292px;
      background-size: 420px, 72px, 235px, 325px;
      height: 380px;
    }

    @include grid-media($grid-sm) {
      background-position: 50% 70px, 50% 215px, 50% 253px, 50% 340px;
      background-size: 486px, 82px, 270px, 365px;
      height: 435px;
    }

    @include grid-media($grid-md) {
      background-position: 50% 75px, 50% 255px, 50% 300px, 50% 400px;
      background-size: 580px, 100px, 325px, 440px;
      height: 505px;
    }

    @include grid-media($grid-lg) {
      background-position: 50% 80px, 50% 295px, 50% 345px, 50% 465px;
      background-size: 670px, 110px, 365px, 445px;
      height: 570px;
    }
  }

  /**
   * Single page, Page
   */
  .single &, .page & {
    background-image: url(#{$img-path}wct2017-logo.svg),
                      url(#{$img-path}wct2017-theme.svg),
                      url(#{$img-path}wct2017-sub-theme.svg),
                      url(#{$img-path}wct2017-date.svg);
    $grid-posY: 10px;
    $grid-posX: calc(50% - 60px);
    background-position: $grid-posX $grid-posY,
                         $grid-posX $grid-posY + 60px,
                         $grid-posX $grid-posY + 80px,
                         $grid-posX $grid-posY + 100px;
    background-size: 200px, 50px, 160px, 195px;
    height: 155px;
    top: 0;

    @include grid-media($grid-xs) {
      $grid-xs-posY: 20px;
      $grid-xs-posX: calc(50% - 75px);
      background-position: $grid-xs-posX $grid-xs-posY,
                           $grid-xs-posX $grid-xs-posY + 65px,
                           $grid-xs-posX $grid-xs-posY + 85px,
                           $grid-xs-posX $grid-xs-posY + 115px;
      background-size: 210px, 50px, 175px, 215px;
      height: 185px;
    }

    @include grid-media($grid-sm-s) {
      $grid-sm-s-posY: 40px;
      $grid-sm-s-posX: calc(50% - 130px);
      background-position: $grid-sm-s-posX $grid-sm-s-posY,
                           $grid-sm-s-posX $grid-sm-s-posY + 85px,
                           $grid-sm-s-posX $grid-sm-s-posY + 110px,
                           $grid-sm-s-posX $grid-sm-s-posY + 175px;
      background-size: 265px, 60px, 210px, 265px;
      height: 270px;
    }

    @include grid-media($grid-sm) {
      $grid-sm-posY: 40px;
      $grid-sm-posX: calc(50% - 130px);
      background-position: $grid-sm-posX $grid-sm-posY,
                           $grid-sm-posX $grid-sm-posY + 100px,
                           $grid-sm-posX $grid-sm-posY + 130px,
                           $grid-sm-posX $grid-sm-posY + 200px;
      background-size: 318px, 73px, 265px, 325px;
      height: 330px;
    }

    @include grid-media($grid-md) {
      $grid-md-posY: 45px;
      $grid-md-posX: calc(50% - 185px);
      background-position: $grid-md-posX $grid-md-posY,
                           $grid-md-posX $grid-md-posY + 118px,
                           $grid-md-posX $grid-md-posY + 158px,
                           $grid-md-posX $grid-md-posY + 240px;
      background-size: 378px, 88px, 314px, 385px;
      height: 370px;
    }

    $grid-lg-title-posY: 45px;

    @include grid-media($grid-lg-s) {
      $grid-lg-s-posX: calc(50% - 190px);
      background-position: $grid-lg-s-posX $grid-lg-title-posY,
                           $grid-lg-s-posX $grid-lg-title-posY + 120px,
                           $grid-lg-s-posX $grid-lg-title-posY + 160px,
                           $grid-lg-s-posX $grid-lg-title-posY + 240px;
      background-size: 386px, 89px, 318px, 400px;
      height: 380px;
    }

    @include grid-media($grid-lg) {
      $grid-lg-posX: calc(50% - 240px);
      background-position: $grid-lg-posX $grid-lg-title-posY,
                           $grid-lg-posX $grid-lg-title-posY + 120px,
                           $grid-lg-posX $grid-lg-title-posY + 160px,
                           $grid-lg-posX $grid-lg-title-posY + 240px;
    }
  }
}

.header-star {
  overflow: hidden;

  &::before, &::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    width: 2px;
    height: 2px;
    background-color: #fff;
    border-radius: 1px;
    opacity: 1;
    box-shadow: 0 0 1px rgba(255, 255, 255, 0.6),
                0 0 2px rgba(255, 255, 255, 0.7),
                0 0 3px rgba(255, 255, 255, 0.8);
  }

  &.twinkl {
    &::before, &::after {
      width: 4px;
      height: 4px;
      border-radius: 2px;
      box-shadow: 0 0 5px rgba(255, 255, 255, 0.8),
                  0 0 8px rgba(255, 255, 255, 0.8),
                  0 0 13px rgba(255, 255, 255, 0.9);
    }
  }

  &:nth-child(1) {
    &::before, &::after {
      top: 190px;
      margin-left: calc(50% - 120px);
    }
  }
  &:nth-child(2) {
    &::before, &::after {
      display: none;
    }
  }
  &:nth-child(3) {
    &::before, &::after {
      top: 90px;
      margin-left: calc(50% - 100px);
    }
  }
  &:nth-child(4) {
    &::before, &::after {
      top: 100px;
      margin-left: calc(50% - 170px);
    }
  }
  &:nth-child(5) {
    &::before, &::after {
      display: none;
    }
  }
  &:nth-child(6) {
    &::before, &::after {
      top: 195px;
      margin-left: calc(50% + 110px);
    }
  }
  &:nth-child(7) {
    &::before, &::after {
      top: 190px;
      margin-left: calc(50% + 150px);
    }
  }
  &:nth-child(8) {
    &::before, &::after {
      display: none;
    }
  }
  &:nth-child(9) {
    &::before, &::after {
      top: 210px;
      margin-left: calc(50% - 115px);
    }
  }
  &:nth-child(10) {
    &::before, &::after {
      top: 140px;
      margin-left: calc(50% - 130px);
    }
  }
  &:nth-child(11) {
    &::before, &::after {
      top: 95px;
      margin-left: calc(50% + 90px);
    }
  }
  &:nth-child(12) {
    &::before, &::after {
      top: 215px;
      margin-left: calc(50% + 120px);
    }
  }

  @include grid-media($grid-xs) {
    &:nth-child(1) {
      &::before, &::after {
        top: 230px;
        margin-left: calc(50% - 160px);
      }
    }
    &:nth-child(2) {
    }
    &:nth-child(3) {
      &::before, &::after {
        top: 100px;
        margin-left: calc(50% - 130px);
      }
    }
    &:nth-child(4) {
      &::before, &::after {
        top: 110px;
        margin-left: calc(50% - 220px);
      }
    }
    &:nth-child(5) {
    }
    &:nth-child(6) {
      &::before, &::after {
        top: 240px;
        margin-left: calc(50% + 150px);
      }
    }
    &:nth-child(7) {
      &::before, &::after {
        top: 240px;
        margin-left: calc(50% + 210px);
      }
    }
    &:nth-child(8) {
    }
    &:nth-child(9) {
      &::before, &::after {
        top: 270px;
        margin-left: calc(50% - 155px);
      }
    }
    &:nth-child(10) {
      &::before, &::after {
        top: 170px;
        margin-left: calc(50% - 180px);
      }
    }
    &:nth-child(11) {
      &::before, &::after {
        top: 110px;
        margin-left: calc(50% + 120px);
      }
    }
    &:nth-child(12) {
      &::before, &::after {
        top: 270px;
        margin-left: calc(50% + 160px);
      }
    }
  }

  @include grid-media($grid-sm-s) {
    &:nth-child(1) {
      &::before, &::after {
        top: 280px;
        margin-left: calc(50% - 200px);
      }
    }
    &:nth-child(2) {
    }
    &:nth-child(3) {
      &::before, &::after {
        top: 110px;
        margin-left: calc(50% - 150px);
      }
    }
    &:nth-child(4) {
      &::before, &::after {
        top: 130px;
        margin-left: calc(50% - 275px);
      }
    }
    &:nth-child(5) {
    }
    &:nth-child(6) {
      &::before, &::after {
        top: 290px;
        margin-left: calc(50% + 200px);
      }
    }
    &:nth-child(7) {
      &::before, &::after {
        top: 280px;
        margin-left: calc(50% + 270px);
      }
    }
    &:nth-child(8) {
    }
    &:nth-child(9) {
      &::before, &::after {
        top: 330px;
        margin-left: calc(50% - 190px);
      }
    }
    &:nth-child(10) {
      &::before, &::after {
        top: 200px;
        margin-left: calc(50% - 220px);
      }
    }
    &:nth-child(11) {
      &::before, &::after {
        top: 120px;
        margin-left: calc(50% + 160px);
      }
    }
    &:nth-child(12) {
      &::before, &::after {
        top: 320px;
        margin-left: calc(50% + 210px);
      }
    }
  }

  @include grid-media($grid-sm) {
    &:nth-child(1) {
      &::before, &::after {
        top: 300px;
        margin-left: calc(50% - 250px);
      }
    }
    &:nth-child(2) {
      &::before, &::after {
        display: block;
        top: 300px;
        margin-left: calc(50% - 370px);
      }
    }
    &:nth-child(3) {
      &::before, &::after {
        top: 130px;
        margin-left: calc(50% - 180px);
      }
    }
    &:nth-child(4) {
      &::before, &::after {
        top: 140px;
        margin-left: calc(50% - 320px);
      }
    }
    &:nth-child(5) {
      &::before, &::after {
        display: block;
        top: 175px;
        margin-left: calc(50% + 340px);
      }
    }
    &:nth-child(6) {
      &::before, &::after {
        top: 330px;
        margin-left: calc(50% + 220px);
      }
    }
    &:nth-child(7) {
      &::before, &::after {
        top: 315px;
        margin-left: calc(50% + 315px);
      }
    }
    &:nth-child(8) {
    }
    &:nth-child(9) {
      &::before, &::after {
        top: 365px;
        margin-left: calc(50% - 220px);
      }
    }
    &:nth-child(10) {
      &::before, &::after {
        top: 230px;
        margin-left: calc(50% - 260px);
      }
    }
    &:nth-child(11) {
      &::before, &::after {
        top: 145px;
        margin-left: calc(50% + 180px);
      }
    }
    &:nth-child(12) {
      &::before, &::after {
        top: 360px;
        margin-left: calc(50% + 240px);
      }
    }
  }

  @include grid-media($grid-md) {
    &:nth-child(1) {
      &::before, &::after {
        top: 330px;
        margin-left: calc(50% - 280px);
      }
    }
    &:nth-child(2) {
      &::before, &::after {
        top: 320px;
        margin-left: calc(50% - 450px);
      }
    }
    &:nth-child(3) {
      &::before, &::after {
        top: 130px;
        margin-left: calc(50% - 220px);
      }
    }
    &:nth-child(4) {
      &::before, &::after {
        top: 130px;
        margin-left: calc(50% - 380px);
      }
    }
    &:nth-child(5) {
      &::before, &::after {
        top: 180px;
        margin-left: calc(50% + 420px);
      }
    }
    &:nth-child(6) {
      &::before, &::after {
        top: 360px;
        margin-left: calc(50% + 270px);
      }
    }
    &:nth-child(7) {
      &::before, &::after {
        top: 340px;
        margin-left: calc(50% + 380px);
      }
    }
    &:nth-child(8) {
      &::before, &::after {
        display: block;
        top: 405px;
        margin-left: calc(50% + 460px);
      }
    }
    &:nth-child(9) {
      &::before, &::after {
        top: 400px;
        margin-left: calc(50% - 260px);
      }
    }
    &:nth-child(10) {
      &::before, &::after {
        top: 230px;
        margin-left: calc(50% - 310px);
      }
    }
    &:nth-child(11) {
      &::before, &::after {
        top: 130px;
        margin-left: calc(50% + 220px);
      }
    }
    &:nth-child(12) {
      &::before, &::after {
        top: 400px;
        margin-left: calc(50% + 300px);
      }
    }
  }

  @include grid-media($grid-lg) {
    &:nth-child(1) {
      &::before, &::after {
        top: 380px;
        margin-left: calc(50% - 350px);
      }
    }
    &:nth-child(2) {
      &::before, &::after {
        top: 350px;
        margin-left: calc(50% - 530px);
      }
    }
    &:nth-child(3) {
      &::before, &::after {
        top: 130px;
        margin-left: calc(50% - 250px);
      }
    }
    &:nth-child(4) {
      &::before, &::after {
        top: 120px;
        margin-left: calc(50% - 450px);
      }
    }
    &:nth-child(5) {
      &::before, &::after {
        top: 180px;
        margin-left: calc(50% + 500px);
      }
    }
    &:nth-child(6) {
      &::before, &::after {
        top: 400px;
        margin-left: calc(50% + 320px);
      }
    }
    &:nth-child(7) {
      &::before, &::after {
        top: 380px;
        margin-left: calc(50% + 450px);
      }
    }
    &:nth-child(8) {
      &::before, &::after {
        top: 450px;
        margin-left: calc(50% + 550px);
      }
    }
    &:nth-child(9) {
      &::before, &::after {
        top: 450px;
        margin-left: calc(50% - 300px);
      }
    }
    &:nth-child(10) {
      &::before, &::after {
        top: 250px;
        margin-left: calc(50% - 350px);
      }
    }
    &:nth-child(11) {
      &::before, &::after {
        top: 130px;
        margin-left: calc(50% + 250px);
      }
    }
    &:nth-child(12) {
      &::before, &::after {
        top: 450px;
        margin-left: calc(50% + 350px);
      }
    }
  }

  &:nth-child(1), &:nth-child(7) {
    &::before {
      animation: header_star 2s linear 2s infinite;
    }
    &::after {
      animation: header_star 6s linear 4s infinite;
    }
  }

  &:nth-child(2), &:nth-child(8) {
    &::before {
      animation: header_star 6s linear 1s infinite;
    }
    &::after {
      animation: header_star 2s linear 3s infinite;
    }
  }

  &:nth-child(3), &:nth-child(9) {
    &::before {
      animation: header_star 2s linear 2s infinite;
    }
    &::after {
      animation: header_star 6s linear 4s infinite;
    }
  }

  &:nth-child(4), &:nth-child(10) {
    &::before {
      animation: header_star 3s linear 1s infinite;
    }
    &::after {
      animation: header_star 6s linear 3s infinite;
    }
  }

  &:nth-child(5), &:nth-child(11) {
    &::before {
      animation: header_star 6s linear 1s infinite;
    }
    &::after {
      animation: header_star 3s linear 3s infinite;
    }
  }

  &:nth-child(6), &:nth-child(12) {
    &::before {
      animation: header_star 6s linear 2s infinite;
    }
    &::after {
      animation: header_star 2s linear 4s infinite;
    }
  }

  @keyframes header_star {
    0%, 50% {
      opacity: 0;
    }
    25% {
      opacity: 1;
    }
  }
}
