body{
  margin-top: $navigation-height;
}
.siteheader{
  position: relative;
}

%header-bg{
  background: $navigation-base-bg;
  box-shadow: 0 0 5px 0 rgba( 0, 0, 0, .4 );
}

%link{
  margin: 0;
  font-size: 16px;
  font-weight: normal;
  color: #fff;
  box-sizing: border-box;
  display: block;
  height: $navigation-height;
  line-height: $navigation-height;
  padding-left: $navigation-link-pad;
  padding-right: $navigation-link-pad;
  &:link, &:visited{
    color: #fff;
    text-decoration: none;
  }
  &:hover, &:active{
    color: #fff;
    text-decoration: none;
    background-color: rgba( 255, 255, 255, .4 );
  }
}

.main-navigation,
.main-small-navigation{
  position: fixed;
  top: 0;
  z-index: 9999;
  .admin-bar & {
    top: 32px;
    @media only screen and ( max-width: $admin-bar-break-point) {
      top: 46px;
    }
  }
  width: 100%;
  height: $navigation-height;
  ul{
    padding: 0;
    margin: 0;
    @extend %clearfix;
    li{
      list-style: none;
    }
  }
  a{
    @extend %link;
  }
  .menu-all-pages-container{
    position: relative;
    padding: 0;
    .menu{
    }
    // First label
    & > .menu > li{
      position: relative;
      &.right{
        position: absolute;
        right: 0;
        top: 0;
        background: $navigation-secondary-bg;
      }
      & > a{
      }
      // Second level
      & > .sub-menu{
        background: $navigation-base-bg;
        & > li{
          width: auto;
          position: relative;
          & > a{
          }
          // 3rd level
          & > .sub-menu{
            background: $navigation-base-bg;
          }
        }
      }
      &:hover > .sub-menu{
        display: block;
      }
    }
  }
}

.main-navigation{
  .menu-all-pages-container{
    @extend .grid-container;
    height: $navigation-height;
    & > .menu{
      display: block;
      & > li{
        height: $navigation-height;
        display: inline-block;
        float: left;
        & > .sub-menu {
          display: none;
          position: absolute;
          left: 0;
          top: $navigation-height;
          width: auto;
          & > li {
            width: auto;
            white-space: nowrap;
            position: relative;
            // 3rd level
            & > .sub-menu {
              display: none;
              position: absolute;
              top: 0;
              left: 100%;
            }
            &:hover > .sub-menu {
              display: block;
            }
          }
        }
      }
    }
  }
  .menu{
    @extend %header-bg;
  }

}

.main-small-navigation{
  background: $navigation-base-bg;
  @extend %header-bg;
  .menu-all-pages-container{
    z-index: 10;
    position: relative;
    top: -1 * $navigation-height;
    padding-top: $navigation-height;
    @extend %header-bg;
    max-height: 400px;
    max-height: calc(100vh - #{$navigation-height});
    overflow-y: scroll;;
    & > .menu > li{
      display: none;
      &.right{
        display: inline-block;
        text-align: center;
        width: 50%;
        top: 0;
      }
    }
  }
  .menu-toggle{
    position: relative;
    z-index: 11;
    width: 50%;
    text-align: center;
    cursor: pointer;
    @extend %link;
    &.toggled-on + div + .menu-all-pages-container .menu{
      & > li{
        display: block;
      }
    }
  }
  .menu{
    display: block !important;
  }
}

// Fix admin bar on min screen
#wpadminbar{
  @media only screen and (max-width: $admin-bar-break-point) {
    position: fixed;
  }
}