body{
  padding-top: $navigation-height-sm;

  @media only screen and ( min-width: $wordcamp-break-point ){
    padding-top: $navigation-height;
  }
}
.siteheader{
  position: relative;
}

%header-bg{
  background: $navigation-base-bg;
  @media only screen and ( min-width: $wordcamp-break-point ){
    background-color: $navigation-base-bg-transparent;
  }
  box-shadow: 0 0 5px 0 rgba( 0, 0, 0, .4 );
}

%link{
  margin: 0;
  font-size: 14px;
  font-weight: normal;
  color: #fff;
  box-sizing: border-box;
  display: block;
  height: $navigation-height-sm;
  letter-spacing: 1px;
  line-height: $navigation-height-sm;
  padding-left: $navigation-link-pad;
  padding-right: $navigation-link-pad;

  @media only screen and ( min-width: $wordcamp-break-point ){
    height: $navigation-height;
    line-height: $navigation-height;
  }
  &:link, &:visited{
    color: #fff;
    text-decoration: none;
  }
  &:hover, &:active{
    color: #fff;
    text-decoration: none;
  }
}

.main-navigation,
.main-small-navigation{
  position: fixed;
  top: 0;
  z-index: 9999;
  .admin-bar & {
    top: 32px;
    @media only screen and ( max-width: $admin-bar-break-point) {
      top: 46px;
    }
  }
  width: 100%;
  height: $navigation-height-sm;

  @media only screen and ( min-width: $wordcamp-break-point ){
    height: $navigation-height;
  }

  ul{
    padding: 0;
    margin: 0;
    @extend %clearfix;
    li{
      list-style: none;
    }
  }

  a{
    @extend %link;
  }

  .menu-all-pages-container{
    position: relative;
    padding: 0;
    .menu{
    }

    // First label
    & > .menu > li{
      position: relative;

      &:hover, &:active{
        background-color: $navigation-base-bg-transparent-hover;
      }

      &.right{
        position: absolute;
        right: 0;
        top: 0;
        background: $navigation-secondary-bg;

        &:hover, &:active{
          background-color: $navigation-secondary-bg-hover;
        }
      }

      & > a{
      }

      // Second level
      & > .sub-menu{
        background: $navigation-submenu-bg;
        border-radius: 0 0 5px 5px;
        box-shadow: 0 0 5px 0 rgba( 0, 0, 0, .4 );
        & > li{
          width: auto;
          position: relative;
          border-top: 1px solid $navigation-submenu-border-top;
          border-bottom: 1px solid $navigation-submenu-border;
          &:hover, &:active{
            background-color: $navigation-submenu-bg-hover;
          }
          &:first-child{
            border-top: none;
          }
          &:last-child{
            border-bottom: none;
            border-radius: 0 0 5px 5px;
          }
          & > a{
          }
          // 3rd level
          & > .sub-menu{
            background: $navigation-submenu-bg;
            & > li{
              border-top: 1px solid $navigation-submenu-border-top;
              border-bottom: 1px solid $navigation-submenu-border;
              &:first-child{
                border-top: none
              }
              &:last-child{
                border-bottom: none;
              }
            }
          }
        }
      }
      &:hover > .sub-menu{
        display: block;
      }
    }
  }
}

.main-navigation{
  @extend %header-bg;
  .menu-all-pages-container{
    @extend .grid-container;
    height: $navigation-height-sm;

    @media only screen and ( min-width: $wordcamp-break-point ){
      height: $navigation-height;
    }

    & > .menu{
      display: block;
      & > li{
        height: $navigation-height-sm;
        display: inline-block;
        float: left;

        @media only screen and ( min-width: $wordcamp-break-point ){
          height: $navigation-height;
        }

        @include wct-small-screen(){
          display: none;
        }

        // icon
        &.menu-item-has-children > a{
          padding-top: 1px;
          &:after{
            @extend %fa;
            border-radius: 50%;
            content: $fa-var-play;
            font-size: 8px;
            transform: rotateZ( 90deg );
            height: 8px;
            line-height: 8px;
            width: 8px;
            margin-left: 0.5em;
            padding: 0;
            transition: .6s;
            vertical-align: middle;
          }
          &:hover:after{
            transform: rotateZ( 270deg );
          }
        }
        // 2nd level
        & > .sub-menu {
          display: none;
          position: absolute;
          left: 0;
          top: $navigation-height-sm;
          width: auto;

          @media only screen and ( min-width: $wordcamp-break-point ){
            top: $navigation-height;
          }

          & > li {
            width: auto;
            white-space: nowrap;
            position: relative;
            // 3rd level
            & > .sub-menu {
              display: none;
              position: absolute;
              top: 0;
              left: 100%;
            }
            &:hover > .sub-menu {
              display: block;
            }
          }
        }
        &.right > .sub-menu{
          left: auto;
          right: 0;
          & > li{
            // 3rd level
            & > .sub-menu{
              left: auto;
              right: 100%;
            }
          }
        }
      }
    }
  }
}

.main-small-navigation{
  background: $navigation-base-bg;
  @extend %header-bg;
  .menu-all-pages-container{
    z-index: 10;
    position: relative;
    top: -1 * $navigation-height-sm;
    padding-top: $navigation-height-sm;
    @extend %header-bg;
    max-height: 400px;
    max-height: calc(100vh - #{$navigation-height-sm});
    overflow-y: scroll;

    @media only screen and ( min-width: $wordcamp-break-point ){
      top: -1 * $navigation-height;
      padding-top: $navigation-height;
      max-height: calc(100vh - #{$navigation-height});
    }

    & > .menu > li{
      display: none;
      background-color: $navigation-submenu-bg;
      border-bottom: 1px solid $navigation-submenu-border;
      &:first-child{
        border-top: 1px solid $navigation-submenu-border;
      }
      &:last-child{
        border-bottom: none;
      }
      &.right{
        background-color: $navigation-secondary-bg;
        display: inline-block;
        text-align: center;
        width: 50%;
        top: 0;
        & > a{
          &:before{
            @extend %fa;
            content: $fa-var-globe;
            margin-right: 0.5em;
          }
        }
      }
      & > .sub-menu{
        & > li{
          &:first-child{
            border-top: 1px solid $navigation-submenu-border;
          }
          & > a{
            &:before{
              @extend %fa;
              content: $fa-var-caret-right;
              margin-right: 0.5em;
            }
          }
          & > .sub-menu{
            & > li{
              &:first-child{
                border-top: 1px solid $navigation-submenu-border;
              }
              & > a{
                &:before{
                  @extend %fa;
                  content: $fa-var-caret-right;
                  color: transparent;
                  margin-right: 0.5em;
                }
              }
            }
          }
        }
      }
    }
  }
  .menu-toggle{
    border: solid 1px red;
    position: relative;
    z-index: 11;
    width: 50%;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    @extend %link;
    &:before{
      @extend %fa;
      content: $fa-var-navicon;
      margin-right: 0.5em;
    }
    &.toggled-on {
      &:before{
        content: $fa-var-close;
      }
      & + div + .menu-all-pages-container .menu {
        & > li {
          display: block;
          &:last-child {
            border-bottom: none;
          }
          &.right li {
            display: none;
          }
        }
      }
    }
  }
  .menu{
    display: block !important;
  }
}

// Fix admin bar on min screen
#wpadminbar{
  @media only screen and (max-width: $admin-bar-break-point) {
    position: fixed;
  }
}
