.wcb_speaker {
  .entry-meta {
    display: none;
  }

  .speaker-avatar {
    float: left;
    margin-right: 20px;

    img {
      border-radius: 100%;
    }
  }

  .wcorg-speaker-right {
    overflow: hidden;
  }

  .wcorg-speaker-icons {
    margin: 0;
    padding: 0;
    height: 28px;
    overflow: hidden;

    li {
      float: left;
      margin-bottom: 0;
      margin-left: 10px;
      list-style-type: none;

      &:first-child {
        margin-left: 0;
      }
    }
  }

  .wcorg-speaker-icon {
    display: block;
    width: 1.75rem;
    height: 1.75rem;
    text-align: center;
    border-radius: 50%;
    transition: .3s;

    .fa {
      position: relative;
      color: #ffffff;
      font-size: 18px;
      line-height: 1.75rem;
      top: 1px;
      left: 1px;
    }

    &--gh {
      background-color: #333;

      &:hover, &:active, &:focus {
        color: #4d4d4d;
      }

      .fa {
        top: 0;
      }
    }

    &--tw {
      background-color: #55acee;

      &:hover, &:active, &:focus {
      	background-color: #83c3f3;
      }
    }

    &--fb {
      background-color: #3b5998;

      &:hover, &:active, &:focus {
      	background-color: #4c70ba;
      }
    }
  }

  .speaker-sessions {
    padding: 5px 10px;
    border-left-width: 2px;
    line-height: 1.1;
    font-size: 100%;
  }

  #speaker-session-names {
    a {
      display: block;
      text-decoration: none;
    }
  }
}
