/**
 * Wrapped with media query
 */
@mixin wct-small-screen( $size: $wordcamp-break-point ) {
  @media only screen and ( max-width: $size ) {
    @content;
  }
}

/**
 * aicon rotation
 */
@mixin aicon-rot($size: 16px) {
  border-radius: 50%;
  font-size: $size;
  transition: .6s;
  padding: 0;
  height: $size;
  line-height: $size;
  width: $size;
}
