// Detect deploy mode
$env: 'development' !default;


//
//------------------------
// Color setting
//
//

// Main
$wct-bg-color: #022e5f;
$wct-header-bg: transparentize( #3094e9, 0.82);
$wct-table-header-bg: #012c5d;

$h-border: #ddd;

// Button
$wct-btn-bg: #01579b;
$wct-btn-color: #fff;
$wct-btn-disabled-bg: #ccc;

// Footer
$wct-footer-bg: #000C24;

// link
$link-color: #fff;
$link-hover-color: #73b5f2;
$link-line-color: #2f6594;

//
//------------------------
// Font setting
//
//

// Body
$body-base-font:  helvetica, arial, 'Hiragino Kaku Gothic ProN', meiryo, 'ms pgothic', sans-serif;
$body-base-weight: 300;
$wct-monospace: Consolas, 'Courier New', Courier, Monaco, monospace;
$fa-font-size-base: 1em;


//
//------------------------
// Path setting
//
//
$img-path: "../images/" !default;
@if($env == 'production') {
  $img-path: "//wctokyo2017.github.io/wct2017/assets/images/";
}

//
//------------------------
// Navigation Setting
//
//
$navigation-height: 50px;
$navigation-height-sm: $navigation-height - 10;

$navigation-base-bg: #0B3359;

$navigation-base-bg-transparent: rgba( 0, 0, 0, .5 );
$navigation-base-bg-transparent-hover: rgba( 255, 255, 255, .1 );

$navigation-secondary-bg: #0271a7;
$navigation-secondary-bg-hover: #0392c1;

$navigation-link-pad: 20px;

$navigation-submenu-bg: #000f25;
$navigation-submenu-bg-hover: #163b65;

$navigation-submenu-border-top: #000;
$navigation-submenu-border: #85abde;


//
//------------------------
// Grid setting
//
//

$admin-bar-break-point: 782px;
$wordcamp-break-point: 600px;

$grid-xs: (
  columns: 12,
  gutter: 10px,
  media: 380px,
);

$grid-sm-s: (
  columns: 12,
  gutter: 10px,
  media: 500px,
);

$grid-sm: (
  columns: 12,
  gutter: 20px,
  media: $wordcamp-break-point,
);

$grid-md: (
  columns: 12,
  gutter: 20px,
  media: $admin-bar-break-point,
);

$grid-lg-s: (
  columns: 12,
  gutter: 20px,
  media: 920px,
);

$grid-lg: (
  columns: 12,
  gutter: 20px,
  media: 1081px,
);
