//
//------------------------
// Color setting
//
//

// Main
$wct-bg-color: #002C5C;
$wct-header-bg: transparentize( #3094e9, 0.82);
$wct-table-header-bg: #012c5d;

// Button
$wct-btn-bg: #01579b;
$wct-btn-color: #fff;
$wct-btn-disabled-bg: #ccc;

// Footer
$wct-footer-bg: #000C24;


//
//------------------------
// Font setting
//
//

// Body
$body-base-font:  helvetica, arial, 'Hiragino Kaku Gothic ProN', meiryo, 'ms pgothic', sans-serif;
$body-base-weight: 300;
$wct-monospace: Consolas, 'Courier New', Courier, Monaco, monospace;


//
//------------------------
// Grid setting
//
//

$grid-xs: (
  columns: 12,
  gutter: 10px,
  media: 380px,
);

$grid-sm-s: (
  columns: 12,
  gutter: 10px,
  media: 500px,
);

$grid-sm: (
  columns: 12,
  gutter: 20px,
  media: 640px,
);

$grid-md: (
  columns: 12,
  gutter: 20px,
  media: 768px,
);

$grid-lg-s: (
  columns: 12,
  gutter: 20px,
  media: 920px,
);

$grid-lg: (
  columns: 12,
  gutter: 20px,
  media: 1081px,
);
